.banner {
  display: block;
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.banner-text {
  position: absolute;
  bottom: 0;
  margin-left: 16px;
  font-family: "Raleway";
  font-size: 130px;
  font-weight: 900;
  color: white;
}
