################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
/FreakyFashionUmbraco.API/App_Data
/FreakyFashionUmbraco.API/bin
/FreakyFashionUmbraco.API/obj
/FreakyFashionUmbraco.API/Umbraco
/FreakyFashionUmbraco.React/node_modules
/FreakyFashionUmbraco.React/bin
/FreakyFashionUmbraco.React/obj/Debug
/FreakyFashionUmbraco.React/build
/packages
/FreakyFashionUmbraco.API/.vs
FreakyFashionUmbraco.React/debug.log
FreakyFashionUmbraco.API/Media
