@font-face {
  font-family: "Fredericka the Great";
  src: url("../fonts/FrederickatheGreat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-weight: 500;
  src: url("../fonts/Raleway-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-weight: 900;
  src: url("../fonts/Raleway-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-weight: 300;
  src: url("../fonts/Raleway-Light.ttf") format("truetype");
}

a:hover {
  text-decoration: none;
}

body {
  font-family: "Raleway";
  font-weight: 300;
  background-color: rgb(240, 242, 241);
}

fieldset {
  position: relative;
}

legend {
  font-size: 1em;
  width: auto;
}

hr {
  border-color: #212529;
}

html {
  scroll-behavior: smooth;
}

input[type="search"],
input[type="text"],
input[type="number"],
textarea,
select {
  border-radius: 15px;
  border: rgb(210, 15, 75) 1px solid;
  padding: 8px;
  font-size: 12px;
  min-width: 200px;
}

input[type="search"]:focus,
input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
  border-radius: 15px;
  border: 1px solid rgb(210, 15, 75);
  outline: none;
  box-shadow: 0 0 4px rgb(210, 15, 75);
}

label {
  margin-top: 12px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.btn {
  border-radius: 1.25rem;
  font-family: "Raleway";
}

.bg-primary,
.btn-primary,
.btn-outline-primary:hover {
  background-color: rgb(210, 15, 75) !important;
  border-color: rgb(210, 15, 75) !important;
  color: white !important;
}

.btn-primary:hover {
  background-color: rgb(181, 13, 63) !important;
  border-color: rgb(181, 13, 63) !important;
}

.btn-outline-primary {
  border-color: rgb(210, 15, 75) !important;
  color: rgb(210, 15, 75) !important;
}

.container-fluid {
  padding: 0;
}

.counter {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  margin-right: -8px;
  border-radius: 10px;
  background-color: rgb(210, 15, 75);
  color: white;
  font-weight: 500;
  font-size: 12px;
}

.fab {
  position: absolute;
  bottom: 30px;
  right: calc(100% / 2 - 30px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #212529;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  padding: 16px;
  z-index: 99999;
}

.fab:hover {
  background-color: #212529;
  color: white;
  text-decoration: none;
}

.hero-section {
  background-color: #212529;
}

.logo {
  font-family: "Fredericka the Great";
  font-size: 90px;
}

.material-icons {
  font-size: 30px;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999999;
}

.nav-link {
  font-weight: 500;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-light .navbar-nav .nav-link {
  color: #212529;
}

.overlay-primary {
  position: absolute;
  right: 0;
  height: 100%;
  background-color: rgb(210, 15, 75, 0.3);
}
