.card-img-zoom {
  position: relative;
  display: block;
  overflow: hidden;
}

.card-img-zoom img {
  transition: transform 0.5s ease;
}

.card-img-zoom:hover img {
  transform: scale(1.1);
}

.discount-flag {
  position: absolute;
  top: 16px;
  color: white;
  background-color: rgb(210, 15, 75);
  padding: 4px 8px 4px 8px;
  z-index: 99999;
}
