.image-container {
  margin: 8px;
  object-fit: cover;
}

.image-container img {
  width: 100%;
  height: auto;
}

.image-display {
  display: flex;
}

.image-display > .image-container {
  display: inline-block;
  width: 75%;
}

.image-list {
  display: inline-block;
  width: 25%;
  height: 100%;
}

.image-list .image-container {
  cursor: pointer;
}

.image-list .image-container:hover {
  border: rgb(181, 13, 63) 1px solid;
  padding: 4px;
}
